@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');
@import 'tailwindcss';

/* =====================
   UTILITIES
===================== */

@utility container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (width >= 40rem) {
    max-width: 50rem;
  }
}

@utility mainContainer {
  margin-top: 4rem;
}

@utility shadow-glow {
  box-shadow: 0 0 0 3px #fea;
}

@utility user-icon {
  background-image: url('./Assets/usuario.svg');
}

@utility bg-login {
  background: url('./Assets/login.jpg') no-repeat center center;
  background-size: cover;
}

@utility title {
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
}

/* =====================
   THEME
===================== */

@theme {
  --font-first: Helvetica, Arial, sans-serif;
  --font-second: 'Spectral', Georgia;

  --animate-animeLeft: animeLeft 0.3s ease-in-out forwards;

  @keyframes animeLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
